
.wrapper {
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & img {
        width: 32rem;
    }
}

.groupInfo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.6rem;
}